* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: rgb(18, 152, 205);
    color: black;
    padding: 10px 20px;
    display: flex;
    justify-content: space;
    align-items: center;
  }
  nav ul {
    list-style-type: none;
  }
  
  section {
    margin: 20px;
  }
  
  aside {
    width: 20%;
  }
  
  footer {
    background-color: rgb(226, 155, 208);
    color: white;
    padding: 10px 20px;
    text-align: center;
  }